
# ========== Ứng dụng ==========
SPRING_APPLICATION_NAME=Bondhub_Assistant
SERVER_HOST=localhost
SERVER_PORT=8080
UPLOAD_DIR=D:\Bondhub\Bondhub_Assitant\backend\Assistant\uploads

# ========== Database ==========
DB_HOST=localhost
DB_PORT=5432
DB_NAME=assistant_DB
DB_USER=postgres
DB_PASSWORD=123456

# ========== Account ==========
DEFAULT_SUPERADMIN_PASS=SuperAdmin@123

# ========== JWT ==========
JWT_ACCESS_TOKEN_EXPIRATION=86400000
JWT_REFRESH_TOKEN_EXPIRATION=2592000000
JWT_SECRET=Bondhub_Enterprise_Assistant_Authentication_Secret_Key
